codegen/
*mexa64
*.slxc
slprj/
*.autosave
.ipynb_checkpoints/
*.log
*_FMU*
*info.json
*fmu
*_tensorboard/
logs/*
__pycache__/
*.mlproj
*.o
runsimlib
.idea
logs_lineq_*/
simp_tensorboard_*/
.venv/
temp_cont_train_env145
#pretrained models that should be ignored
blob_models/*
Tensorboard/*
tensorboard/
*.pt
*.drawio
